{% block rodape %}
<div class="container">
  <div class="row">
    <div class="col-md-13">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/assets/img/slide-01.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/assets/img/slide-02.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/assets/img/slide-03.png" alt="Third slide">
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Serviços</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Desenvolvimento</a></li>
            <li><a href="#">Hospedagem</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Sobre</h3>
          <ul>
            <li><a href="#">Companhia</a></li>
            <li><a href="#">Time</a></li>
            <li><a href="#">Carreira</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Buy Bazar</h3>
          <p>
            O Buy Bazar é uma aplicação web que visa a venda e compra de itens usados
            dos alunos do IFRN-Campus Apodi, reduzindo o consumismo e gerando economia na aquisição
            dos itens.
          </p>
        </div>
      </div>
      <p class="copyright">Famia Corp © 2021</p>
    </div>
  </footer>
</div>
{% endblock %}