<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Buy Bazar - Principal</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/ajuda/">Buy Bazar - Ajuda</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/ajuda/">Ajuda</a>
          </li>
		      <li class="nav-item active">
            <a class="nav-link" href="/login/">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="m5-4 mb-3">Instruções básicas</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index/">Buy Bazar</a>
      </li>
      <li class="breadcrumb-item active">Ajuda</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Página principal/Produtos a venda</h2>
        <p>A página principal do Buy Bazar é onde estão os produtos ofertados. Tais produtos aparecem nas mais diversas categorias e você pode utilizar a barra de pesquisa para encontrar um em específico.</p>
      </div>
    </div>

    <h2>Outras páginas</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Vendidos</h4>
            <p class="card-text">Nessa página você pode verificar se seus itens já foram vendidos!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Meus produtos</h4>
            <p class="card-text">Nessa página você pode verificar os produtos que você está vendendo e alterá-los ou excluí-los!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Vender item</h4>
            <p class="card-text">Nessa página você pode colocar um produto a venda!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Serviços</h3>
          <ul>
            <li><a href="#" class="text-white">Web design</a></li>
            <li><a href="#" class="text-white">Desenvolvimento</a></li>
            <li><a href="#" class="text-white">Hospedagem</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Sobre</h3>
          <ul>
            <li><a href="#" class="text-white">Companhia</a></li>
            <li><a href="#" class="text-white">Time</a></li>
            <li><a href="#" class="text-white">Carreira</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Buy Bazar</h3>
          <p>
            O Buy Bazar é uma aplicação web que visa a venda e compra de itens usados
            dos alunos do IFRN-Campus Apodi, reduzindo o consumismo e gerando economia na aquisição
            dos itens.
          </p>
        </div>
      </div>
      <p class="m-0 text-center text-white">Famia Corp © 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/plugins/bootstrap.bundle.min.js"></script>

</body>

</html>
